<div>
    <ng-include src="'app/Views/dashboard.html'" />;
</div>


<div class="container" ng-controller="addNewController">
    <br /><br />
    <div class="row">
        
        <form>
            <div class="form-group">
                <label for="fileInput">File input</label>
                <input type="file" id="fileInput">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="form-group">
                <label for="itemName">Name: </label>
                <input type="text" class="form-control" id="itemName" placeholder="Enter Name here..">
            </div>
            <div class="form-group">
                <label for="sel1">Select list:</label>
                <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="form-group">
                <label for="descriptionArea">Description: </label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out
                </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
            
        
    </div>
</div>














<!--<div class="btn btn-lg btn-default">Select</div>
        <div class="form-group">
            <span class="input-group-addon" >Name</span>
            <input type="text" class="form-control" placeholder="Enter name here..">
        </div>
            <label for="sel1">Select list:</label>
            <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>-->
